<div>
  <form
    [formGroup]="userSelectForm"
    (ngSubmit)="onSubmit(userSelectForm.value)"
  >
    <div class="input-container">
      <label for="name" class="name-input">
        Name
        <input type="text" name="name" id="name" formControlName="name" />
      </label>
      <label for="role" class="role-input">
        Role
        <select name="role" id="role" formControlName="role">
          <option value="" selected>Select Role</option>
          <option value="manager">Manager - $30000</option>
          <option value="developer">Developer - $1000</option>
          <option value="qaTester">QA Tester -$5000</option>
        </select>
      </label>

      <label for="manager" class="role-input" *ngIf="managerList.length > 0">
        Manager
        <select name="manager" id="manager" formControlName="managerId">
          <option value="" selected>Select Manager</option>
          <option
            value="{{ manager.id }}"
            *ngFor="let manager of managerList"
            >{{ manager.name }}</option
          >
        </select>
      </label>

      <button type="submit">
        ADD
      </button>
    </div>
  </form>
</div>
